html, body, #app{
  height: 100%;
  margin: 0;
}

#app{
  background: rgb(142, 142, 187);
  display: flex;
  /*
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  */
  /*
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  */
}
.box{
  width: 200px;
  height: 60px;
  background: red;
  margin: 5px;
  /*
  flex-grow: 1;
  flex-shrink: 1;
  flex:  1 0;
  */
}
.red{
  background: red;
  order: 1;
}

.green{
  background: green;
  order: 2;
}

.blue{
  background: blue;
  order: 0;
}